@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="barra_superior">
    <div class="logo_img"></div>
    <div><h3>Comentarios por libros</h3>
         <p>Seleccione el autor -> Seleccione el libro -> Se muestran los comentarios existentes -> Adicione un nuevo comentario</p>
    </div>
</div>

<div class="container, container_progress">
    <div>
        <div class="">
            <ul class="progressbar">
                <li class="active">Autores</li>
                <li>Libros</li>
                <li>Comentarios Existentes</li>
                <li>Nuevo Comentario</li>
            </ul>
        </div>
    </div>
</div>

<div class="espaciador">

</div>

<div class="carta">
    <h5 class="subtitulo">Autor</h5>
        @foreach (var autor in (SelectList)ViewData["listadoDeAutores"])
        {
                <div class="card">
                    <h6>@autor.Text</h6>
                    <br />
                    <button class="btn btn-success" style="position: absolute; top: 10px; right: 10px;" onclick="window.location.href='@Url.Action("Libros", "Libreria", new { id = autor.Value })'">
                        Seleccionar
                    </button>

                </div>
        }
</div>

